<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- REQUIRED BY WEBRTC -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Microphone -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />

    <!-- Bluetooth -->
    <uses-permission
        android:name="android.permission.BLUETOOTH" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <!-- Notifications -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Overlay -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application

        android:allowBackup="true"

        android:usesCleartextTraffic="true"

        android:label="@string/app_name"

        android:supportsRtl="true"

        android:theme="@style/Theme.VIGILVOICEmobileapp">


        <!-- Main Activity -->
        <activity

            android:name=".MainActivity"

            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- Live protection service -->
        <service

            android:name=".calling.service.LiveProtectionService"

            android:enabled="true"

            android:exported="false"

            android:foregroundServiceType="microphone" />

    </application>

</manifest>